boto3>=1.42.5
llama-index-core==0.13.0
anthropic>=0.49.0
langchain==1.2.10
langchain-aws==1.3.0
langchain-community==0.4.1
langchain-core==1.2.16
langgraph==1.0.9
sqlalchemy>=2.0
PyAthena[SQLAlchemy]>=3.14.1
